.berlin.Tiergarten {
    /*fill: red;*/
}

.berlin:hover {
    fill: green;
}

.berlin {
    fill: #5C755C;
}

.district_boundary {
    fill: none;
    stroke: white;
    stroke-width: 1px;
    /* stroke-dasharray: 2, 2;
    stroke-linejoin: round;*/
}

.subdistrict_boundary {
    fill: none;
    stroke: #787878;
    stroke-width: .5px;
    /* stroke-dasharray: 2, 2;
    stroke-linejoin: round;*/
}

.tooltip {
    width: 30px;
    height: 30px;
    fill: red;
}


/*.subunit.WLS {
    fill: #cdd;
}

.subunit.NIR {
    fill: #cdc;
}

.subunit.ENG {
    fill: #dcd;
}

.subunit.IRL {
    display: none;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
}

.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}*/

#sContainer {
    width: 1000px;
    height: 800px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 14px #828282;
    margin-left: auto;
    margin-right: auto;
}
