#sContainer {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 14px #828282;
    margin-left: auto;
    margin-right: auto;
    /*font-family: 'Lato', sans-serif;*/
}

button {
    width: 100px;
    margin: 3px 3px 3px 0px;
}

.circle {
    stroke: black;
    stroke-width: 1px;
}

svg text::selection {
    background: none;
}

svg text {
    pointer-events: none;
}

.controls_header {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
